.footer {
    display: flex;
    flex-direction: column;

    background-color: var(--background-footer);

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.footer__logo {
    width: 80px;
    height: 80px;
    padding-left: 50px;
}

.footer__principal {
    display: flex;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    padding-right: 58px;
}

.footer__midia {
    display: block;

    width: 42px;
    height: 42px;

    margin: 2rem 1rem;
}

.footer__navegacion {
    text-align: left;
    line-height: 3;
    padding-left: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 48px;
    color: #FFFFFF
}


.footer__enlace {
    display: inline-block;

    margin: 0 .5rem .7rem;
}